{% extends 'base.html' %}

<!-- Title -->
{% block title %}Home{% endblock title %}

<!--  Block Typed-->
{% block typed %}{% endblock typed %}

<!-- Slider -->
{% block sidebar-content %}
    <a href="{% url 'inbox' %}" class="btn btn-secondary">Logo</a>
{% endblock sidebar-content %}

<!-- Pagina contenido -->
{% block content %}
    <div class="container mt-5" id="card-login">
        <div class="card p-3 login-border">
            <span class="mt-3 text-center text-pulse"><strong>RESTRINGIDO EL ACCESO</strong></span>
            <form action="" method="POST" autocomplete="off" novalidate>
                {% csrf_token %}
                <div class="input-group mb-2 mt-4">
                    <input type="text" class="form-control" name="username" placeholder="Nombre">
                </div>
                <div class="input-group mb-2">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                </div>
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" onclick="myFunction()" style="float: right;">
                </div>
                <div class="d-grid gap-2 mt-3">
                    <input class="btn btn-success btn-sm mt-4 mb-3" type="submit" value="Enter" id="btn-enter">
                </div>
            </form>
            <center class="mt-5 mb-5">
                <i class="bx bxs-send bx-rotate-270 mt-2 mb-2" id="login-watermark" style="margin-left: 10px;"></i>
            </center>
        </div>
    </div>

{% endblock content %}